<!DOCTYPE html>
<html>
	<body>
		<div class="main">
			<div class="lists">
				<% if @lists[0] != nil %>
				<h3>企業リスト</h3>
				<table id="table">
					<thead>
						<tr style="background:#C0C0C0">
							<th>企業名</th>
							<th>業種</th>
							<th>職種</th>
							<th>詳細</th>
							<th><font size="-1">インターン</font></th>
							<th>本選考</th>
							<th>日程</th>
							<th>補足</th>
						</tr>
					</thead>
					<tbody>
					<% @lists.each do |list| %>
					<%= form_tag("/top/save") do %>
					<tr>
						<td><input type="text" name="company" value="<%= list.company %>"></td>
						<td>
							<select name="type1">
								<option value="0"></option>
								<option value="1" <% if list.type1 == 1 %>selected<% end %>>メーカー</option>
								<option value="2" <% if list.type1 == 2 %>selected<% end %>>商社</option>
								<option value="3" <% if list.type1 == 3 %>selected<% end %>>小売</option>
								<option value="4" <% if list.type1 == 4 %>selected<% end %>>金融</option>
								<option value="5" <% if list.type1 == 5 %>selected<% end %>>不動産・インフラ</option>
								<option value="6" <% if list.type1 == 6 %>selected<% end %>>ホテル・旅行</option>
								<option value="7" <% if list.type1 == 7 %>selected<% end %>>コンサル</option>
								<option value="8" <% if list.type1 == 8 %>selected<% end %>>人材</option>
								<option value="9" <% if list.type1 == 9 %>selected<% end %>>サービス</option>
								<option value="10" <% if list.type1 == 10 %>selected<% end %>>ソフトウエア・通信</option>
								<option value="11" <% if list.type1 == 11 %>selected<% end %>>広告・出版・マスコミ</option>
								<option value="12" <% if list.type1 == 12 %>selected<% end %>>官公庁・公社・団体</option>
								<option value="13" <% if list.type1 == 13 %>selected<% end %>>その他</option>
							</select>
						</td>
						<td>
							<select name="type2">
								<option value="0"></option>
								<option value="1" <% if list.type2 == 1 %>selected<% end %>>総合職</option>
								<option value="2" <% if list.type2 == 2 %>selected<% end %>>エンジニア職</option>
								<option value="3" <% if list.type2 == 3 %>selected<% end %>>デザイナー職</option>
								<option value="4" <% if list.type2 == 4 %>selected<% end %>>一般職</option>
								<option value="5" <% if list.type2 == 5 %>selected<% end %>>その他</option>
							</select>
						</td>
						<td><input type="text" name="detail" value="<%= list.detail %>"></td>
						<td>
							<select name="status1">
								<option value="0"></option>
								<option value="1" <% if list.status1 == 1 %>selected<% end %>>未開催</option>
								<option value="2" <% if list.status1 == 2 %>selected<% end %>>連絡待ち</option>
								<option value="3" <% if list.status1 == 3 %>selected<% end %>>ES提出</option>
								<option value="4" <% if list.status1 == 4 %>selected<% end %>>適性検査</option>
								<option value="5" <% if list.status1 == 5 %>selected<% end %>>一次選考</option>
								<option value="6" <% if list.status1 == 6 %>selected<% end %>>二次選考</option>
								<option value="7" <% if list.status1 == 7 %>selected<% end %>>三次選考以降</option>
								<option value="8" <% if list.status1 == 8 %>selected<% end %>>最終選考</option>
								<option value="9" <% if list.status1 == 9 %>selected<% end %>>合格</option>
								<option value="10" <% if list.status1 == 10 %>selected<% end %>>不合格</option>
								<option value="11" <% if list.status1 == 11 %>selected<% end %>>参加中止</option>
							</select>
						</td>
						<td>
							<select name="status2">
								<option value="0"></option>
								<option value="1" <% if list.status2 == 1 %>selected<% end %>>未開催</option>
								<option value="2" <% if list.status2 == 2 %>selected<% end %>>連絡待ち</option>
								<option value="3" <% if list.status2 == 3 %>selected<% end %>>ES提出</option>
								<option value="4" <% if list.status2 == 4 %>selected<% end %>>適性検査</option>
								<option value="5" <% if list.status2 == 5 %>selected<% end %>>一次選考</option>
								<option value="6" <% if list.status2 == 6 %>selected<% end %>>二次選考</option>
								<option value="7" <% if list.status2 == 7 %>selected<% end %>>三次選考以降</option>
								<option value="8" <% if list.status2 == 8 %>selected<% end %>>最終選考</option>
								<option value="9" <% if list.status2 == 9 %>selected<% end %>>合格</option>
								<option value="10" <% if list.status2 == 10 %>selected<% end %>>不合格</option>
								<option value="11" <% if list.status2 == 11 %>selected<% end %>>参加中止</option>
							</select>
						</td>
						<td><input type="date" name="date" value="<%= list.date %>"></td>
						<td><input type="text" name="note" value="<%= list.note %>"></td>
						
						<input type="hidden" name="id" value="<%= list.id %>">
						
						<td><input type="submit" name="save" value="保存"></td>
						
					</tr>
					<% end %>
					<% end %>
					</tbody>
				</table>
				<% end %>
				
				<br><br><h3>企業を追加</h3>
				
				<table id="table">
					<caption></caption>
					<thead>
						<tr style="background:#C0C0C0">
							<th>企業名</th>
							<th>業種</th>
							<th>職種</th>
							<th>詳細</th>
							<th><font size="-1">インターン</font></th>
							<th>本選考</th>
							<th>日程</th>
							<th>補足</th>
						</tr>
					</thead>
					<tbody>
					<%= form_tag("/top/add") do %>
					<tr>
						<td><input type="text" name="company"></td>
						<td>
							<select name="type1">
								<option value="0"></option>
								<option value="1">メーカー</option>
								<option value="2">商社</option>
								<option value="3">小売</option>
								<option value="4">金融</option>
								<option value="5">不動産・インフラ</option>
								<option value="6">ホテル・旅行</option>
								<option value="7">コンサル</option>
								<option value="8">人材</option>
								<option value="9">サービス</option>
								<option value="10">ソフトウエア・通信</option>
								<option value="11">広告・出版・マスコミ</option>
								<option value="12">官公庁・公社・団体</option>
								<option value="13">その他</option>
							</select>
						</td>
						<td>
							<select name="type2">
								<option value="0"></option>
								<option value="1">総合職</option>
								<option value="2">エンジニア職</option>
								<option value="3">デザイナー職</option>
								<option value="4">一般職</option>
								<option value="5">その他</option>
							</select>
						</td>
						<td><input type="text" name="detail"></td>
						<td>
							<select name="status1">
								<option value="0"></option>
								<option value="1">未開催</option>
								<option value="2">連絡待ち</option>
								<option value="3">ES提出</option>
								<option value="4">適性検査</option>
								<option value="5">一次選考</option>
								<option value="6">二次選考</option>
								<option value="7">三次選考以降</option>
								<option value="8">最終選考</option>
								<option value="9">合格</option>
								<option value="10">不合格</option>
								<option value="11">参加中止</option>
							</select>
						</td>
						<td>
							<select name="status2">
								<option value="0"></option>
								<option value="1">未開催</option>
								<option value="2">連絡待ち</option>
								<option value="3">ES提出</option>
								<option value="4">適性検査</option>
								<option value="5">一次選考</option>
								<option value="6">二次選考</option>
								<option value="7">三次選考以降</option>
								<option value="8">最終選考</option>
								<option value="9">合格</option>
								<option value="10">不合格</option>
								<option value="11">参加中止</option>
							</select>
						</td>
						<td><input type="date"></input></td>
						<td><input type="text" name="note"></td>
						
						<td><input type="submit" name="save" value="追加"></td>
						
					</tr>
					<% end %>
					</tbody>
				</table>
				<br><br><br><br><br><br><br><br>
			</div>
			<br>
			<!-- FC2カウンター ここから -->
			<font color="grey"><h6>利用ユーザー数</h6></font>
			<script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=89473984"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=89473984" /></noscript>
			<!-- FC2カウンター ここまで -->
			<br><br><br><br><br><br>
		</div>
	</body>
</html>